pkgbase = gimp-develop-git
	pkgdesc = GNU Image Manipulation Program (non-conflicting git version)
	pkgver = 2.99.16.r103.gba5b4794e1
	pkgrel = 1
	epoch = 1
	url = https://www.gimp.org
	arch = i686
	arch = x86_64
	license = GPL
	license = LGPL
	checkdepends = xorg-server-xvfb
	makedepends = aalib
	makedepends = alsa-lib
	makedepends = alsa-lib>=1.0.0
	makedepends = curl
	makedepends = ghostscript
	makedepends = git
	makedepends = gjs
	makedepends = glib-networking
	makedepends = intltool>=0.40.1
	makedepends = iso-codes
	makedepends = libheif
	makedepends = libmng
	makedepends = libwebp
	makedepends = libxpm
	makedepends = libxslt
	makedepends = luajit
	makedepends = meson
	makedepends = python-gobject
	makedepends = webkit2gtk
	makedepends = xorg-server-xvfb
	makedepends = zlib
	depends = appstream-glib
	depends = babl
	depends = cairo
	depends = dbus-glib
	depends = desktop-file-utils
	depends = enchant
	depends = gegl
	depends = gobject-introspection
	depends = gtk-doc
	depends = icu
	depends = lcms2
	depends = libart-lgpl>=2.3.19
	depends = libexif>=0.6.15
	depends = libgexiv2
	depends = librsvg
	depends = libwmf
	depends = mypaint-brushes1
	depends = openexr
	depends = poppler-data
	depends = poppler-glib
	optdepends = aalib: ASCII art support
	optdepends = alsa-lib: for MIDI event controller module
	optdepends = curl: for URI support
	optdepends = ghostscript: for postscript support
	optdepends = gjs: JavaScript scripting support
	optdepends = gutenprint: for sophisticated printing only as gimp has built-in cups print support
	optdepends = iso-codes: Language support
	optdepends = libheif: HEIF support
	optdepends = libmng: MNG support
	optdepends = libwebp: WebP support
	optdepends = libxpm: XPM support
	optdepends = luajit: LUA scripting support
	optdepends = webkit2gtk: HTML renderer and web content engine
	optdepends = zlib: Compression routines
	source = git+https://gitlab.gnome.org/GNOME/gimp.git#branch=master
	source = linux.gpl
	sha512sums = SKIP
	sha512sums = 6f33d57f242fa8ce04b65e06a712bd54677306a45b22cb853fbe348089cd4673bd4ed91073074fe067166fe8951c370f8bbbc386783e3ed5170d52e9062666fe

pkgname = gimp-develop-git
